{
  "branches": [
    "main",
    {
      "name": "release",
      "prerelease": "qa"
    },
    {
      "name": "dev",
      "prerelease": "dev"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}